<nav class="site-nav" aria-label="Main Navigation">
    <ul class="site-nav__list">
        <li class="site-nav__item">
            <a class="site-nav__link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link" href="{% url 'about' %}">Story</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link" href="{% url 'designs' %}">Designs</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link" href="{% url 'contact' %}">Contact</a>
        </li>
    </ul>
</nav>
